# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node caches and settings
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Temporary files
tmp/
temp/
